---
import dashboard from "@assets/images/dashboard.jpg";
import backgroundImage from "@assets/images/Energy-sector-refinery-.jpg";
import Escudo from "@components/Escudo.astro";
import LabelSection from "@components/LabelSection.astro";
import { HoverBorderGradient } from "./hover-border-gradient";
---

<section
  class="w-screen h-full relative flex justify-center mb-[28vw] md:mb-[18vw] lg:mb-20 xl:mb-20 2xl:mb-24 hero-bg-gradient pb-16 lg:pb-0"
  id="home"
>
  <div
    class="absolute inset-0 z-[0] w-full h-full"
    style="clip-path: polygon(0 0, 100% 0, 100% 55%, 50% 80%, 0 55%);"
  >
    <!-- <div
      class="absolute inset-0 z-[0] w-full h-full bg-cover bg-center bg-no-repeat brightness-[.25] grayscale"
      style={`background-image: url('${backgroundImage.src}');  `}
      id="heroBackground"
    >
    </div> -->
    <video
      autoplay
      muted
      loop
      playsinline
      class="absolute inset-0 z-[0] w-full h-full object-cover"
      id="heroVideo"
    >
      <source src="/videos/hero-video.webm" type="video/webm" />
    </video>
    <div
      id="circleMask"
      class="absolute inset-0 pointer-events-none bg-bgDark1"
      style="background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 5%, rgb(26, 28, 30) 20%);"
    >
    </div>
  </div>
  <div
    class="w-full md:w-[800px] z-10 xl:w-[900px] flex flex-col items-center pt-16 md:pt-16 lg:pt-20 text-center bg-transparent"
  >
    <Escudo class="my-4 lg:w-24 lg:h-24" id="hero-escudo" />
    <HoverBorderGradient
      containerClassName="rounded-full mx-auto mb-6  border-neutral-600"
      client:load
    >
      <LabelSection text="Prevención SH" id="psh-label" class="lg:text-lg" />
    </HoverBorderGradient>

    <div
      class="text-3xl sm:text-5xl lg:text-7xl xl:text-7xl font-bold tracking-wide text-primaryText px-8 sm:px-8 md:px-20 lg:px-4"
    >
      <h1 class="inline md:hidden font-Jakarta font-bold text-4xl sm:text-5xl">
        Seguridad
      </h1>
      <h1
        class="hidden font-Jakarta font-bold md:inline text-5xl lg:text-6xl xl:text-7xl"
      >
        Servicio de seguridad
      </h1>
    </div>
    <h1
      class="mt-2 sm:mt-2 text-4xl sm:text-5xl lg:text-6xl xl:text-7xl font-Jakarta font-bold tracking-wide text-primaryText px-8 sm:px-20 md:px-24 lg:px-24"
    >
      y salud ocupacional
    </h1>

    <h3
      id="hero-description"
      class="bg-gradient-to-r from-neutral-400 via-neutral-50 to-neutral-400 bg-clip-text leading-tight text-transparent max-w-3xl justify-center text-center mx-auto mt-5 text-lg px-6"
    >
      20 años brindando soluciones para distintos tipos de industrias. Somos el
      partner que necesita para preservar la calidad de vida de sus
      colaboradores y la continuidad laboral.
    </h3>

    <div class="relative w-screen flex justify-center mt-16">
      <img
        src={dashboard.src}
        alt="Dashboard image"
        class="w-4/5 2xl:w-[1200px] mx-auto absolute z-10 rounded-xl main-border-gray hero-dashboard-border-gradient lg:top-6 xl:top-0"
      />
    </div>

    <!-- <div class="relative w-screen flex justify-center">
      <div
        class="shape-divider-bottom-1665343298 mt-4 sm:mt-16 md:mt-52 hidden lg:block"
      >
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
          class="bg-transparent"
        >
          <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="fill-bgDark1"
          ></path>
        </svg>
      </div>
    </div> -->
  </div>
</section>

<script>
  import { gsap } from "gsap/gsap-core";
  let heroBackground: HTMLVideoElement;
  let animationFrame: number;
  let circleMask: HTMLDivElement;
  let heroEscudo: SVGElement;
  let heroDescription: HTMLHeadingElement;
  let pshLabel: HTMLSpanElement;

  const handleMouseMove = (event: MouseEvent) => {
    const { clientX, clientY } = event;
    const { offsetWidth, offsetHeight } = heroBackground;

    // Calcula la posición relativa del mouse
    const x = (clientX / offsetWidth) * 100;
    const y = (clientY / offsetHeight) * 100;

    // Usa requestAnimationFrame para actualizar el clip-path
    if (animationFrame) cancelAnimationFrame(animationFrame);
    animationFrame = requestAnimationFrame(() => {
      circleMask.style.background = `radial-gradient(circle at ${x}% ${y}%, rgba(0, 0, 0, 0.5) 5%, rgb(26, 28, 30) 25%)`;
    });
  };

  const initEffect = () => {
    heroBackground = document.querySelector("#heroVideo") as HTMLVideoElement;
    circleMask = document.querySelector("#circleMask") as HTMLDivElement;

    window.addEventListener("mousemove", handleMouseMove);

    return () => {
      window.removeEventListener("mousemove", handleMouseMove);
    };
  };

  const startAnimation = () => {
    heroEscudo = document.querySelector("#hero-escudo") as SVGElement;
    heroDescription = document.querySelector(
      "#hero-description"
    ) as HTMLHeadingElement;
    pshLabel = document.querySelector("#psh-label") as HTMLSpanElement;

    gsap.fromTo(
      pshLabel,
      { opacity: 0, y: 25, delay: 0.3 },
      { opacity: 1, y: 0, duration: 0.5 }
    );

    gsap.fromTo(
      heroEscudo,
      { opacity: 0, y: -50 },
      { opacity: 1, y: 0, duration: 0.5, delay: 0.5 }
    );

    gsap.fromTo(
      heroDescription,
      { opacity: 0, y: 100 },
      { opacity: 1, y: 0, duration: 0.9, delay: 0.8, ease: "power1.out" }
    );
  };

  // Ejecuta el efecto al cargar
  initEffect();
  startAnimation();
</script>
