---
import "@fontsource-variable/inter";
import "@fontsource-variable/plus-jakarta-sans";
import { siteConfig } from "@config/site-config";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description || siteConfig.description} />
    <title>{title || siteConfig.title}</title>
  </head>
  <body class="bg-bgDark2">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
  }
</style>
